<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning - Tsys">


<test name="Login test">
    <classes>
        <class name="testcases" ></class>  
    </classes>
</test>

<test name="Second test">
    <classes>
        <class name="testing2" ></class>  
    </classes>
</test>


<test name="third test">
    <classes>
        <class name="testng_param" ></class>  
    </classes>
</test>





</suite>
